seinnlae.me {
	encode zstd gzip

	redir /phpmyadmin /phpmyadmin/ permanent

	handle_path /phpmyadmin/* {
		reverse_proxy phpmyadmin:80
	}

	handle {
		reverse_proxy app:8080
	}
}

www.seinnlae.me {
	redir https://seinnlae.me{uri} permanent
}
